html {
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6em;
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
}
#board {
  background: #000000;
  width: 300px;
  height: 300px;
  align-self: center;
}